@font-face {
    font-family: "Lora";
    font-style: normal;
    font-weight: 100;
    src: url("./Lora-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "Lora";
    font-style: normal;
    font-weight: 100;
    src: url("./Lora-BoldItalic.woff") format("woff");
  }

  @font-face {
    font-family: "Lora";
    font-style: normal;
    font-weight: 100;
    src: url("./Lora-Italic.woff") format("woff");
  }

  @font-face {
    font-family: "Lora";
    font-style: normal;
    font-weight: 100;
    src: url("./Lora-Medium.woff") format("woff");
  }

  @font-face {
    font-family: "Lora";
    font-style: normal;
    font-weight: 100;
    src: url("./Lora-MediumItalic.woff") format("woff");
  }

  @font-face {
    font-family: "Lora";
    font-style: normal;
    font-weight: 100;
    src: url("./Lora-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Lora";
    font-style: normal;
    font-weight: 100;
    src: url("./Lora-SemiBold.woff") format("woff");
  }

  @font-face {
    font-family: "Lora";
    font-style: normal;
    font-weight: 100;
    src: url("./Lora-SemiBoldItalic.woff") format("woff");
  }

  @font-face {
    font-family: "Human";
    font-style: normal;
    font-weight: 100;
    src: url("./Human.woff") format("woff");
  }